div.gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  div.gallery::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  span.type {
    font-weight: normal;
  }
  
  span.room {
    font-weight: bolder;
  }
  
  div.photo-wrapper,
  img.photo {
    width: 450px;
    height: calc(290px * 6 / 4);
    object-fit: cover;
    object-position: 0% 0%;
  }
  
  div.photo-wrapper {
    position: relative;
  }
  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #000;
  }

  @media (min-width: 651px) {
    .dots-container {
      display: none; /* Hide dots on screens wider than 650px */
    }
  }