@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sniglet');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sniglet', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.fixedButtonContainer {
  position: fixed;
  top: 10px; 
  left: 20px; 
  z-index: 1000; 
}

.homepageButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.homepageButton:hover {
  background-color: #005bb5;
}

