@import url('https://fonts.googleapis.com/css2?family=Sniglet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding:0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 221, 221);
  z-index: -2;
}

.buttonBox {
    width: 100%;
    position: relative;
    z-index: 1;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

.catimg {
    width: 400px;
    height: 400px;
}

.title {
  font-size: 110px;
  color:rgb(255, 108, 108);
  font-weight: 800;
}

.buttonContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(254, 203, 203);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Back {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: rgb(255, 151, 151); /* Primary button color */
    color: white;
    cursor: pointer;
    font-size: 19px;
    transition: background-color 0.5s;
}

.Back:hover {
    background-color: rgb(255, 160, 160);
    outline: 5px solid white;
}

.Final {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: rgb(255, 160, 160); 
    color: white;
    cursor: pointer;
    font-size: 19px;
    transition: background-color 0.3s;
}

.Final:hover {
    background-color: rgb(255, 160, 160); 
    outline: 5px solid white;
}

.submitBtn {
    display: flex;
    flex: row;
    justify-content: space-between;
    gap: 30px;
    font-size: 24px;
}

.buttonPair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    gap: 50px;
}

.button {
    margin: 0 10px;
    padding: 15px 30px;
    border: none;
    border-radius: 9px;
    background-color: rgb(255, 108, 108); 
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
    background-color:rgb(255, 115, 115); 
    outline: 5px solid white;
}

.button:disabled {
    background-color: #ccc; /* Disabled button color */
    cursor: not-allowed;
    opacity: 0.6;
}

.button.active {
    opacity: 1; 
}

.button.inactive {
    opacity: 0.5; 
}
