@import url('https://fonts.googleapis.com/css2?family=Coiny');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.home {
  width: 100%;
  position: relative;
  z-index: 1;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

body {
  margin: 0;
  padding:0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: rgb(224,224,224);
  z-index: -2;
}

.title {
  font-size: 80px;
  color:rgb(211, 154, 217);
  font-weight: 800;
}

.imagesContainer {
  display: flex; 
  align-items: center; 
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
}

.Choice {
    width: 400px;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border-radius: 20%;
    background-size: contain;
    opacity: 0.5;
}

.Choice.active {
  opacity: 1; /* Fully visible for the active image */
  transform: scale(1.1); /* Slightly larger for the active image */
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35); /* Highlight */
}

.Choice.left, .Choice.right {
  transform: scale(0.8); /* Smaller for side images */
  opacity: 0.5; /* Faded for side images */
}

.slideButton {
  padding: 15px 30px; 
  margin: 0 10px; /* Space between buttons */
  border: none; 
  border-radius: 10px; 
  background-color: rgb(223, 164, 229); 
  color: white; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.slideButton:hover {
  background-color:rgb(211, 154, 217);  
  transform: scale(1.05); 
}

.navigate {
  display: flex;
  justify-content: center; 
  margin-top: 40px; 
  width: 100%;
}

